@font-face {
  font-family: "Comic";
  src: url("../../font/COMIC.TTF") format("truetype");
}

body {
  font-family: "Comic";
  color: #495464;
}

/* awal navbar */
nav {
  background-color: #e8e8e8;
}

nav .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #495464;
}

nav form .input {
  border: none;
  outline: none;
  color: #495464;
}

nav .search-wrap {
  width: 280px;
}

nav .search-wrap .search-box {
  position: relative;
  width: 280px;
  height: 40px;
}

nav .search-wrap .search-box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  padding-right: 45px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
}

nav .search-wrap .search-box .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -2px;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

nav .search-wrap .search-box .btn .btn-common svg {
  position: absolute;
  top: 50%;
  left: 50%;
}

nav .navbar-nav svg {
  margin-right: 25px;
}

nav .navbar-nav .profil {
  margin-left: 10px;
}

/* Akhir Navbar */
/* Awal content */
.content .kiri {
  width: 300px;
  padding-top: 20px;
}
.content .profile,
.content .navigasi,
.content .kanan {
  background-color: #e8e8e8;
  border-radius: 20px;
  margin-bottom: 15px;
}

.content .kiri .profile {
  padding: 10px;
  overflow: auto;
}

.content .kiri .profile img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

.content .kiri .profile h5 {
  font-size: 18px;
  margin-top: 7px;
}

.content .kiri .profile h6 {
  font-size: 12px;
  margin-top: -5px;
}
.content .kiri .profile a {
  margin-top: -10px;
  font-size: 12px;
  color: #70a1d7;
}

.content .navigasi {
  padding: 20px 0 0 30px;
  height: 200px;
}

.content .navigasi a {
  color: #bbbfca;
}

.content .navigasi a:hover {
  font-weight: bold;
  color: #495464;
}

.content .kanan {
  margin-top: 20px;
  padding-bottom: 100px;
}

/* ubah password */

.content .kanan h5 {
  margin-top: 20px;
  margin-left: 30px;
}

.content .kanan .des {
  margin-left: 30px;
  margin-top: -2px;
  line-height: 20px;
}

.content .kanan hr {
  color: #495464;
  width: 96%;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.content .kanan .row {
  margin-bottom: 10px;
}

.content .kanan a {
  text-decoration: none;
}

/* our product */
.our-product .container {
  background-color: #e8e8e8;
  padding: 20px;
}

.our-product .container .product {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 25px;
  margin-bottom: 15px;
  overflow: auto;
}

.our-product .product img {
  width: 120px;
  border-radius: 20px;
  margin-right: 20px;
  float: left;
}

.our-product .product h6 {
  color: #f47c7c;
}

.our-product .product a {
  float: right;
  top: 0;
}

/* Transaksi */
.transaksi .container {
  padding: 20px;
}

.transaksi .product {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  overflow: auto;
}
.transaksi .product .status {
  overflow: auto;
}

.transaksi .product .status h6 {
  float: left;
}

.transaksi .product .status div {
  float: right;
}

.transaksi .product .status hr {
  margin-top: 15px;
}

.transaksi .product img {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-top: -10px;
  margin-right: 20px;
  border-radius: 20px;
  float: left;
}

.transaksi .product h5 {
  margin-top: -5px;
}

.transaksi .product h6 {
  color: #f47c7c;
}
/* Akhir content */
